<form action="/create" method="POST">
  <h2>Create post</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Posts title">
  </div>

  <button type="submit" class="btn">Create</button>
</form>